<!--查询快捷入口,author:gaoyang,date:2015-09-23-->
<div class="data-list">
	<table class="table table-hover">
	<div class="btns">
		<a class="cms-btn cms-btn-lg" ng-click="back()">返回</a>
		<a class="cms-btn cms-btn-lg" ui-sref="cms.content.manage.ryg.home.shortcutNew">新建快捷入口</a>
	</div>
	<div class="filters">
		<div class='col-md-3'>发布开始时间</div>
		<div class="col-md-6">
			<input class="form-control" readonly ng-model="publishBeginAt" options="dateOptions" date-range-picker>
		</div>
	</div>
	<table class="table table-hover">
		<tr>
			<td>内容id</td>
			<td>模版Id</td>
			<td>发布开始时间</td>
			<td>发布结束时间</td>
			<td>图片</td>
			<td>创建人</td>
			<td>修改人</td>
			<td>操作状态</td>
			<td>位置id</td>
			<td>操作</td>
		</tr>
		<tr ng-repeat="row in list">
			<td>{{row.id}}</td>
			<td>{{row.modelId}}</td>
			<td>{{row.publishBeginAt}}</td>
			<td>{{row.publishEndAt}}</td>
			<td>{{row.picNames}}</td>
			<td>{{row.createUser}}</td>
			<td>{{row.updateUser}}</td>
			<td>{{row.status}}</td>
			<td>{{row.positionId}}</td>
			<td>
				<a ui-sref="cms.content.manage.ryg.home.shortcutCopyNew({shortcutId})">复制新建</a>
				<a ui-sref="cms.content.manage.ryg.home.shortcutUpdate({shortcutId})">修改</a>
				<a ng-click="delShortcut">删除</a>
			</td>
		</tr>
	</table>
</div>